@import "reset.css";

body{
    font-family: 'Poor Story';
    align-self: flex-start;
    color: aliceblue;
}

body::before {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url(mi1.jpg);
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    -webkit-filter: saturate(190%) blur(3px);
    -moz-filter: saturate(190%) blur(3px);
    -o-filter: saturate(190%) blur(3px);
    -ms-filter: saturate(190%) blur(3px);
    filter: saturate(190%) blur(3px) grayscale(35%);
    z-index: -1;
    content: "";
}

#flex{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 95vh;
}

#flex_item{
    margin: 5px;
}

.js-weather{
    text-align: right;
    position: fixed;
    right: 13px;
    top: 13px;
    font-size: 0.5rem;
    font-family : Rubik;
}

.js-clock{
    font-size: 4rem;
    color: #a5f5b9;
}

.whatToDo{
    font-size: 1.5rem;
}

input{
    color:aliceblue;
    font-size: 5px;
    background: transparent;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: solid 3px aliceblue;
}

input:focus {
    font-size: 1rem;
    font-family: 'Poor Story';
    text-align: center;
    outline: 0;
    outline-offset: 0;
    border-bottom: solid 2px aliceblue;

}

input::placeholder {
    font-size: 0.8rem;
    color: aliceblue;
    font-family: 'Poor Story';
    text-align: center;
}

.form, .greetings{
    display: none;
}

.showing{
    display: block;
}

.js-greetings{
    font-size: 1.7rem;
}

li{
    font-size: 1.5rem;
    margin: 7px;
}

button{
    font-size: 1rem;
    color: #16a351;
    background: transparent;
    border: 0;
}